body,ul{padding: 0; margin: 0;}
li { list-style: none;}
img { border: none;}
a {display: inline-block;}
body {
	background: #eee;
	padding-top: 50px;
}
#container {
	width: 970px;
	height: 344px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
#container .prev {
	width: 76px;
	height: 112px;
	position: absolute;
	left: 75px;
	top: 116px;
	background: url(../img/prev.png) no-repeat;
	z-index: 5;
}
#container .next {
	width: 76px;
	height: 112px;
	position: absolute;
	right: 75px;
	top: 116px;
	background: url(../img/next.png) no-repeat;
	z-index: 5;
}
#container ul {
	width: 970px;
	height: 344px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
#container .pos_0 {
	position: absolute;
	left: 0;
	top: -145px;
	z-index: 1;
	opacity: 0;
}
#container .pos_1 {
	position: absolute;
	left: 0;
	top: 100px;
	z-index: 2;
	opacity: 0.6;
}
#container .pos_2 {
	position: absolute;
	left: 50px;
	top: 42px;
	z-index: 3;
	opacity: 0.8;
}
#container .pos_3 {
	position: absolute;
	left: 145px;
	top: 0;
	z-index: 4;
	opacity: 1;
}
#container .pos_4 {
	position: absolute;
	right: 50px;
	top: 42px;
	z-index: 3;
	opacity: 0.8;
}
#container .pos_5 {
	position: absolute;
	right: 0;
	top: 100px;
	z-index: 2;
	opacity: 0.6;
}
#container .pos_6 {
	position: absolute;
	right: 0;
	top: -145px;
	z-index: 1;
	opacity: 0;
}